<!-- Dikerjakan dmonh3h3 -->

<head>
  <style>
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-five">
    <div class="container">
      <div class="row mt-2">
        <div class="col-3">
          <img src="https://portal.uad.ac.id/themes/metronic/img/logo-default.png" alt="logo" class="logo-default">
        </div>
        <div class="col-3">
          <a class="navbar-brand" href="#">SIMBIS</a>
        </div>
        <div class="col-12"></div>
      </div>
      <div class="col-6 text-center">
        <div class="navbar-nav ml-auto">
          <!-- Nama Profile di navbar -->
          <!-- Harus Merubah Nama sesuai database -->
          <a class="nav-item nav-link ml-auto link2 mt-2" href="#"><?php echo $_SESSION['username'] ?><span
              class="sr-only ">(current)</span></a>
              <li class="dropdown"><img class=" w10-1 rounded-circle" src="../img/avatar_Penjadwalan.png">
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <li><a href="profil_pengelola.php"><i class="dropdown-item"></i> Profil saya</a></li>
                  <li><a href="#"><i class="dropdown-item"></i> Pengaturan</a></li>
                 <li><a href="#"><i class="dropdown-item"></i> Bantuan</a></li>
                 <li><a href="../logout.php"><i class="dropdown-item"></i> Logout</a></li>
             </ul>
             </li>
          
          <!-- End -->
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-four">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link link2" href="index.php">Home <span class="sr-only">(current)</span></a>
              </li>
              <!-- Metopen -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link2" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Metopen
                </a>
                <div class="dropdown-menu navbox" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item  drop-link" href="semester.php">Kelola Semester</a>
                  <a class="dropdown-item  drop-link" href="out.php">Data Mahasiswa</a>
                   <a class="dropdown-item  drop-link" href="pencarian_mahasiswa_diadmin.php">Input Nilai Semprop</a>
                  <a class="dropdown-item  drop-link" href="data_semprop_diadmin.php">Lihat Nilai Semprop</a>
                </div>
              </li>
              <!-- Semprop -->
             
              <!-- Skripsi -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link2" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Skripsi
                </a>
                <div class="dropdown-menu navbox" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item  drop-link" href="cari_mahasiswai_pendadaran.php">Input Nilai Pendadaran</a>
                  <a class="dropdown-item  drop-link" href="data_pendadaran_diadmin.php">Lihat Nilai Pendadaran</a>
                </div>
              </li>
              <!-- Jadwal -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link2" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Jadwal
                </a>
                <div class="dropdown-menu navbox" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item  drop-link" href="UI_Form_Input_jadwal.php">Input Jadwal</a>
                  <a class="dropdown-item  drop-link" href="UI_Penjadwalan_admin.php">Output Jadwal</a>
                </div>
              <!-- Statistik -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link2" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Statistik
                </a>
                <div class="dropdown-menu navbox" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item  drop-link" href="statistik_kelulusan.php">Kelulusan</a>
                  <a class="dropdown-item  drop-link" href="statistik_bidmin.php">Bidang minat</a>
                  <a class="dropdown-item  drop-link" href="statistik_ruangan.php">Ruangan</a>
                  <a class="dropdown-item  drop-link" href="statistik_pembimbingan_dosen.php">Dosen</a>
                  <a class="dropdown-item  drop-link" href="statistik_waktu_pendadaran.php">Waktu Pendadaran</a>
                  <a class="dropdown-item  drop-link" href="statistik_semprop.php">Waktu Semprop</a>
                  <a class="dropdown-item  drop-link" href="statistik_gender_metopen.php">Kelulusan Gender Metopen</a>
                  <a class="dropdown-item  drop-link" href="statistik_gender_undaran.php">Kelulusan Gender Undaran</a>
                  <a class="dropdown-item  drop-link" href="statistik_metopen_prodi.php">Kelulusan Metopen Terhadap Prodi</a>
                  <a class="dropdown-item  drop-link" href="statistik_undaran_prodi.php">Kelulusan Undaran Terhadap Prodi</a>
                </div>
              </li>
              <!-- Kelola Akun -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link2" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kelola Akun
                </a>
                <div class="dropdown-menu navbox" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item  drop-link" href="list_password_dosen.php">List Password Default Dosen</a>
                </div>
              </li>
        
            </ul>
          </div>
        </div>
      </div>
  </nav>
</body>
<!-- dmonh3h3 -->
